<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 bg-light">
      <h4 class="my-3">こちらは増田歯科のWEB問診ページです</h4>
     

      <%= form_with model:@user, url: new_user_session_path, local:true do |f| %>
        <div class="form-group">
          <label for="user_id">患者ID</label>
          <%= f.text_field :id, id:"user_id", class:"form-control", autofocus: true, autocomplete: "id", placeholder: "1234" %>
        </div>
        
        <div class="form-group">
          <label for="password">生年月日 (例:1990年5月10日生まれ ➡︎ 19900510 )</label>
          <%= f.password_field :password, id:"password", class:"form-control", autocomplete: "current-password" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %> 
          </div>
        <% end %>

        
        <div class="btn submit">
          <%= f.submit '次へ', class:"btn btn-sm btn-primary"%>
        </div>
      <% end %>

    </div>
  </div>
</div>

