<!DOCTYPE html>
<html>
  <head>
    <title>PerfectTeeth</title>
    <%= csrf_meta_tags %>
    
    <script src="https://kit.fontawesome.com/79e8119200.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-info">
        <div class="navbar-header col-xs-4">
          <i class="fas fa-tooth"></i>
          <a class="navbar-brand p-2" hred="#"></a>
          <%= link_to "/users/sign_in" do %>
            <span>Perfect Teeth</span>
          <% end %>
        </div>
        <div class="col-xs-8">
          <ul class="nav navbar navbar-right">
            <li class="navbar-text">増田歯科・矯正歯科</li>
            <% if user_signed_in? %>
            <li>
              <%= link_to "終了", destroy_user_session_path, method: :delete %>
            </li>
            <% else %>
            <li>
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path %>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="box1"></div>
      <%= yield %>
    <script src="jquery.min.js"></script>
    <script src="js/my_jquery.js"></script>
    </main>
  </body>
</html>
